{% extends "base.html" %}

{% block content %}
    <h1>People</h1>
    {% for user in users %}
        <ul><a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a></ul>
            {% if user.about_me %}
                <ul>{{ user.about_me }}</ul>
            {% endif %}
            <hr>
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Previous</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Next</a>
    {% endif %}
{% endblock %}

